<app-standard-component>

  <div class="container">
    <div class="logo-header-horizontal">
      <img src="./../../../../assets/images/logo.svg" alt="logoh">
    </div>
    <div class="logo-header-vertical">
      <img src="./../../../../assets/images/logo-vertical.svg" alt="logov">
    </div>
  </div>

  <div class="mission-container">
    <div class="divider">
      <span class="divider-text">
        OUR MISSION
      </span>
    </div>

    <div class="mission">
      <p>
        Humans have over 70,000 thoughts a day and between 70 and 80% of those thoughts are negative. Students who place their self-worth
        on internal habits like moral values are less stressed and tend to perform better academically. Self-compassion can
        also reduce the stress that causes us to procrastinate. Self-affirmation has been shown to increase problem solving
        skills when we’re stressed.
      </p>
      <p>
        The Love Myself Project hopes to raise awareness for and encourage individuals to love themselves. Self-hate and self-depreciation
        is rampant in online communities; young people are struggling with a sense of self-worth. LMP aims to change that
        through a brief but impactful week long engagement on the Virginia Commonwealth University campus, showing love and
        giving hope.
      </p>
    </div>
  </div>

  <div class="campaign-container">
    <div class="divider">
      <span class="divider-text">
        CAMPAIGNS
      </span>
    </div>

    <ngx-carousel class="banner" [inputs]="carouselBanner">
      <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
        <div class="bannerStyle" [style.background]="'url(' + tile + ')'">
        </div>
      </ngx-item>
      <button NgxCarouselPrev class="leftRs">
        <img src="./../../../../assets/images/arrow-backward.svg" alt="l-arrow" class="arrow">
      </button>
      <button NgxCarouselNext class="rightRs">
        <img src="./../../../../assets/images/arrow-forward.svg" alt="r-arrow" class="arrow">
      </button>
    </ngx-carousel>

  </div>


</app-standard-component>
