<app-standard-component>

  <div class="container">
    <div class="logo-header">
      <img src="./../../../../assets/images/logo.svg" alt="logog">
      <div class="dates">
        <p>
          Join us at the VCU Compass April 2-5, 2018!
        </p>
      </div>
    </div>
  </div>

  <div class="mission-container">
    <div class="divider">
      <span class="divider-text">
        OUR MISSION
      </span>
    </div>

    <div class="mission">
      <p>
        Humans have over 70,000 thoughts a day and between 70 and 80% of those thoughts are negative. Students who place their self-worth
        on internal habits like moral values are less stressed and tend to perform better academically. Self-compassion can
        also reduce the stress that causes us to procrastinate. Self-affirmation has been shown to increase problem solving
        skills when we’re stressed.
      </p>
      <p>
        The Love Myself Project hopes to raise awareness for and encourage individuals to love themselves. Self-hate and self-depreciation
        is rampant in online communities; young people are struggling with a sense of self-worth. LMP aims to change that
        through a brief but impactful week long engagement on the Virginia Commonwealth University campus, showing love and
        giving hope.
      </p>
    </div>
  </div>

  <div class="campaign-container">
    <div class="divider">
      <span class="divider-text">
        CAMPAIGNS
      </span>
    </div>

    <div class="campaign">
      <img src="./../../../../assets/images/campaigns.svg" alt="campaign">
      <div class="view-more">
        <a routerLink="/campaigns" routerLinkActive="active">VIEW MORE</a>
        <img src="./../../../../assets/images/arrow-forward.svg" alt="r-arrow" class="arrow">
      </div>
    </div>
  </div>


</app-standard-component>
