.footer{
    background-color: #7be9c2;
}

.footer-text{
    padding: 15px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    

    position: relative;
    padding: 40px;
    text-align: center;
    padding-left: 150px;
}

.facebook-icon{
    width: 3%;
    position: absolute;
    top: 32%;
    left: 44.5%;
}

.instagram-icon{
    width: 3%;
    position: absolute;
    top: 32%;
    left: 41%;
}