.container {
  background-color: #7be9c2;
  /* padding: 80px; */
  height: calc(100vh);
  position: relative
}

.logo-header-horizontal {
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logo-header-vertical {
  display: none;
}

.scroll {
  width: 8%;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* carousel */

.bannerStyle {
  background-size: cover !important;
  height: calc(100vh - 100px);
  margin-top: 10px;
}

.bannerStyle img {
  margin: 0 auto;
  display: block;
  margin: auto;
  width: 50%;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .2);
  border-radius: 999px;
  left: 10px;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .2);
  border-radius: 999px;
  right: 10px;
}

.arrow {
  margin-top: 5px;
}

/* installation */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  width: 100%;
  border-radius: 2px;
}

/* Create four equal columns that sits next to each other */

.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 4px;
  vertical-align: middle;
}

/* view more button */

a {
  text-decoration: none;
  color: #2c2e2e;
}

.next {
  width: 30px;
  vertical-align: middle;
  padding-right: 20px;
}

.view {
  text-align: right;
  font-size: 15px;
  color: #2c2e2e;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-top: 20px;
}

.research-container {
  padding-bottom: 30px;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .divider {
    margin-top: 50px;
  }
  .body-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
  }
  .logo-header-horizontal {
    display: none;
  }
  .logo-header-vertical {
    display: block;
    width: 100%;
    padding-top: 40px;
  }
  .bannerStyle {
    background-size: cover !important;
    height: 350px;
    margin-top: 10px;
  }
  .banner {
    padding-bottom: 50px;
  }
}
