<app-standard-component>

  <div class="container">
    <div class="logo-header-horizontal">
      <img src="./../../../../assets/images/logo.svg" alt="logoh">
    </div>
    <div class="logo-header-vertical">
      <img src="./../../../../assets/images/logo-vertical.svg" alt="logov">
    </div>

    <div class="scroll">
      <img src="./../../../../assets/images/scroll.svg" alt="scroll">
    </div>
  </div>

  <div class="mission-container">
    <div class="divider">
      <span class="divider-text">
        OUR MISSION
      </span>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            We are a group of four students at Virginia Commonwealth University. This installation was part of a semester long project
            for one of our courses. Our instructions were to interrupt a space. How we interpretted that and executed it
            were left completely open ended. My teammates and I all took interest to this topic of self love and how we could
            help people, especially students, value themselves more. Thus the Love Myself Project was born. This website
            is a look into not only the final product of our installation but also all of the process leading up to it. Here
            we have laid out all of our research, campus partners, and initial goals for the project.
            <br>
            <br>The Love Myself Project hopes to raise awareness for and encourage individuals to love themselves. Self-hate
            and self-depreciation is rampant in online communities; young people are struggling with a sense of self-worth.
            LMP aims to change that through a brief but impactful week long engagement on the Virginia Commonwealth University
            campus, showing love and giving hope.
          </p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="campaign-container">
    <div class="divider">
      <span class="divider-text">
        CAMPAIGNS
      </span>
    </div>

    <div (window:resize)="onResize($event)"></div>
    <ngx-carousel class="banner" [inputs]="carouselBanner">
      <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index;">
        <div class="bannerStyle" [style.background]="'url(' + tile + ')'">
        </div>
      </ngx-item>
      <button NgxCarouselPrev class="leftRs">
        <img src="./../../../../assets/images/arrow-backward.svg" alt="l-arrow" class="arrow">
      </button>
      <button NgxCarouselNext class="rightRs">
        <img src="./../../../../assets/images/arrow-forward.svg" alt="r-arrow" class="arrow">
      </button>
    </ngx-carousel>

  </div>


</app-standard-component>
