<app-standard-component>

  <div class="premise-container">
    <div class="divider">
      <span class="divider-text">
        PREMISE
      </span>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            When the four of us sat down together our main goal was to come up with a topic that interested us all. A common theme among
            the things we talked about was self-love. Self-love is important to value yourself, have healthy boundaries with
            others, accept your personal failures and disappointments, be an advocate for yourself, and express who you are.
            Our intention from the start was to do an on campus intervention in the form of a collabrative art installation.
            Our traget audience was anyone who encountered our project, but mostly VCU students.
            <br>
            <br>In our world today people are increasingly hard on themselves. In college it is easy to get wrapped up in work
            and people quickly forget to take time for themselves and relax. Our goal was to bring awareness to this, we
            wanted to make people stop and think about the good things in their life and even think into their future goals.
            We wanted it to be a repetitive action, something that gained more and more momentum over a series of days. Especially
            because a self-love centered mindset takes time to create.
          </p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="supporting-container">
    <div class="divider">
      <span class="divider-text">
        SUPPORTING RESEARCH
      </span>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <ul>
            <li>Bullied students indicate that bullying has a negative effect on how they feel about themselves (19%), their
              relationships with friends/family and school work (14%), and physical health (9%)</li>
            <br>
            <li>About 20% of teens will experience depression before they reach adulthood</li>
            <br>
            <li>The average 2-year-old hears 432 negative statements per day, but only 32 positive statements each day - University
              of Iowa</li>
            <br>
            <li>80% of children entering 1st grade score high on the self esteem inventory. By 5th grade only 20% scored high.
              And by the time they graduated from high school only 5%</li>
            <br>
            <li>In 2013, suicide ranked 2nd in cause of death for ages 15-24</li>
            <br>
            <li>Students who place their self-worth on internal habits like moral values are less stressed and tend to perform
              better academically
            </li>
            <br>
            <li>Self-compassion can reduce the stress that causes us to procrastinate. Which helps us recognize the downside
              of the habit without putting us in a negative spiral</li>
            <br>
            <li>If worried about procrastination try self-affirmation, which has been shown to increase problem-solving skills
              when you’re stressed</li>
            <br>
            <li>Humans have over 70,000 thoughts per day and up to 70% of them are negative</li>
          </ul>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="project-reference">
    <mat-card class="image-card">
      <a href="https://www.dove.com/us/en/dove-self-esteem-project.html" target="_blank">
        <img mat-card-image src="assets/images/dove.jpg" alt="Dove">
        <div class="title">
          <mat-card-title>Dove Self Esteem Project</mat-card-title>
        </div>
      </a>
    </mat-card>

    <mat-card class="image-card">
      <a href="https://www.love-myself.org/" target="_blank">
        <img mat-card-image src="assets/images/bts.jpg" alt="BTS">
        <div class="title">
          <mat-card-title>BTS Love Yourself Campaign</mat-card-title>
        </div>
      </a>
    </mat-card>

    <mat-card class="image-card">
      <a href="https://www.theselfloveproject.com/" target="_blank">
        <img mat-card-image src="assets/images/slp.jpg" alt="SelfLoveProject">
        <div class="title">
          <mat-card-title>BTS Love Yourself Campaign</mat-card-title>
        </div>
      </a>
    </mat-card>
  </div>

  <div class="idea-container">
    <div class="divider">
      <span class="divider-text">
        INITIAL IDEAS
      </span>
    </div>

    <div class="divider-two">
      <span class="divider-two-text">
        Kintsugi
      </span>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            Japanese art of fixing broken vessels with a special lacquer that is then dusted with gold, silver or platinum. The practice
            is related to the japanese philosophy of wabi-sabi, which calls for seeing beauty in the flawed or imperfect.
            Imperfect but valuable, priceless, beautiful, worthy. This practice dates back to the 15th century. According
            to legend, the craft was created when Japanese shogun Ashikaga Yoshimasa sent his cracked chawan, tea bowl, back
            to China to undergo repairs. When it was returned to him, Yoshimasa was displeased to see that it was mended
            with unsightly metal staples. This encouraged craftsmen to find an alternative, a more aesthetically pleasing
            method of repair.
            <br>
            <br>There are 3 predominant styles of Kintsugi.
          </p>
        </mat-card-content>
      </div>
    </mat-card>

    <div class="examples">
      <mat-card class="image-card">
        <img mat-card-image src="assets/images/crack.jpg" alt="crack">
        <div class="title">
          <mat-card-title>Crack Method</mat-card-title>
        </div>
        <mat-card-subtitle>
          <p>
            Objects mended using this method are pieced back together and secured with minimal lacquer.
          </p>
        </mat-card-subtitle>
      </mat-card>

      <mat-card class="image-card">
        <img mat-card-image src="assets/images/piece.jpg" alt="piece">
        <div class="title">
          <mat-card-title>Piece Method</mat-card-title>
        </div>
        <mat-card-subtitle>
          <p>
            Objects restored with this method feature replacement fragments made entirely of epoxy.
          </p>
        </mat-card-subtitle>
      </mat-card>

      <mat-card class="image-card">
        <img mat-card-image src="assets/images/joint.jpg" alt="joint">
        <div class="title">
          <mat-card-title>Joint Call</mat-card-title>
        </div>
        <mat-card-subtitle>
          <p>
            Objects fixed with this method employ similarly shaped pieces from other broken wares.
          </p>
        </mat-card-subtitle>
      </mat-card>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            <b>Idea: Flower Pots</b>
            <br>
            <br>Getting a bag of small flower pots from lowes and breaking them then gluing/epoxying them back together and dusting
            the glued part with metallic powder and giving out flower seed packets.
            <br>
            <br>Perhaps doing a multiple day interaction on campus. Have people break the pots, then we repair them, and have
            people come back and decorate them and take them home with plants. Use this to make a comment on how our imperfections
            are what make us beautiful.
          </p>
        </mat-card-content>
      </div>
    </mat-card>

    <div class="divider-two">
      <span class="divider-two-text">
        Tanabata Wishing Tree
      </span>
    </div>

    <div class="tanabata">
      <mat-card>
        <div class="fullimage">
          <img mat-card-image src="assets/images/tanabata.jpg" alt="tanabata">
        </div>
      </mat-card>

      <mat-card class="right">
        <div class="body-text">
          <p>
            The Tanabata Festival originated from the ancient Chinese legend known as Qixi. It is a story of two lovers, Princess Orihime
            (a seamstress and Hikoboshi (a cow herder). Princess Orihime was also the daughter of Tentei, the God of the
            Heavens. She wove beautiful clothes which represented the Milky Way. Her father arranged the first meeting of
            Princess Orihime and Hikoboshi to end the sadness and despair of his daughter. Princess Orihime and Hikoboshi
            instantly fell in love with each other. They were so in love that they began to neglect their work. The God of
            the Heavens was angered by the both of them and forbade them to be together. After pleading and promising to
            weave once again, Orihime was granted permission to meet Hikoboshi again, but the two star-crossed lovers could
            only meet once a year. Hikoboshi is known as the Cowherd Star (Altair) and Orihime as the Weaver Star (Vega).
            The two lovers Are separated by the river (Milky Way). Every 7th of July, a bridge will be made by magpies for
            Orihime as long as the sky is clear.
            <br>
            <br> On Tanabata people write wishes (sometimes in the form of poetry) on small pieces of paper called tanzaku and
            hang them on bamboo trees. These slips of paper may also be hung with other decorations. The following day the
            trees are floated on a river and burned as an offering.
          </p>
        </div>
      </mat-card>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            <b>Idea: The Giving Tree</b>
            <br>
            <br>Bring a fake tree that participants can use to leave compliments to themselves or others. Hang these complements
            on the tree as a gift of self love to any passerby who needs a pick me up, the gift that keeps on giving. This
            would be a tree that people could add on to and take from as well. Would either last all day or for a small amount
            of time over several days. This could also be done several times as a sort of campaign (once a month, once every
            few weeks, etc.)
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            <b>Idea: The Garden of Words</b>
            <br>
            <br>A 5 day long intervention with two collabrative installations that have daily topic based prompts. In one location
            there would be a fence that people would continually tie on messages to, in another location there would be a
            mirror (this would mostly be used as advertising for the collabrative fence installation).
            <br>
            <br>The goal is to bring awareness and redirection to relevant campus services for people and to bring importance
            to the awareness of self-love. We would do this by breaking up people’s daily routine with activities that support
            the idea of self love. We would encourage people to take a break from their daily habits and use that time to
            reflect on themselves and where they are in life.
          </p>
        </mat-card-content>
      </div>
    </mat-card>

  </div>

</app-standard-component>
