a {
  text-decoration: none;
  color: black;
}

.image-card {
  max-width: 450px;
  border: 30px solid white;
}

mat-card-title {
  margin-bottom: 0px !important;
  font-weight: bold;
}

.title {
  margin-top: 30px;
  padding: 20px;
  border-top: 5px solid #7be9c2;
  border-bottom: 5px solid #7be9c2;
}

.project-reference {
  display: flex;
  justify-content: space-evenly;
}

.premise-container {
  margin-top: 80px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  }
  .row {
    margin-left: 80px;
    margin-right: 80px;
  }
  .divider {
    margin-top: 50px;
  }
  .body-text {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
  }
  .premise-container {
    margin-top: 100px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .row {
    margin-left: 40px;
    margin-right: 40px;
  }
  .premise-container {
    margin-top: 120px;
  }
  .body-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
  }
}
