a {
  text-decoration: none;
  color: black;
}

.project-reference {
  display: flex;
  justify-content: space-evenly;
}

.examples {
  display: flex;
  justify-content: space-evenly;
}

.premise-container {
  margin-top: 80px;
}

.fullimage {
  padding-top: 3%;
  padding-left: 8%;
}

.right {
  padding-right: 8%;
}

/* image hover */

.image-card {
  position: relative;
  width: 50%;
  max-width: 350px;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tanabata {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #facc7a;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.tanabata-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #7aa8fa;
  opacity: .99;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.image-card:hover .overlay {
  width: 100%;
}

.image-card:hover .img-text {
  transition: .45s ease-in;
  transition-delay: .1s;
  opacity: 1;
}

.tanabata:hover .tanabata-overlay {
  width: 50%;
}

.tanabata:hover .tanabata-text {
  transition: .45s ease-in;
  transition-delay: .2s;
  opacity: 1;
}

.img-text {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  opacity: 0;
}

.tanabata-text {
  color: #eef4f3;
  font-size: 15px;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  right: -20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  opacity: 0;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  }
  .row {
    margin-left: 80px;
    margin-right: 80px;
  }
  .divider {
    margin-top: 50px;
  }
  .body-text {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
  }
  .premise-container {
    margin-top: 100px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .row {
    margin-left: 40px;
    margin-right: 40px;
  }
  .premise-container {
    margin-top: 120px;
  }
  .body-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 12px;
  }
}
