<app-standard-component>

  <div class="premise-container">
    <div class="divider">
      <span class="divider-text">
        PREMISE
      </span>
    </div>

    <div class="body-text">
      <p>
        When the four of us sat down together our main goal was to come up with a topic that interested us all. A common theme among
        the things we talked about was self-love. Self-love is important to value yourself, have healthy boundaries with
        others, accept your personal failures and disappointments, be an advocate for yourself, and express who you are.
        Our intention from the start was to do an on campus intervention in the form of a collabrative art installation.
        Our traget audience was anyone who encountered our project, but mostly VCU students.
        <br>
        <br>In our world today people are increasingly hard on themselves. In college it is easy to get wrapped up in work and
        people quickly forget to take time for themselves and relax. Our goal was to bring awareness to this, we wanted to
        make people stop and think about the good things in their life and even think into their future goals. We wanted
        it to be a repetitive action, something that gained more and more momentum over a series of days. Especially because
        a self-love centered mindset takes time to create.
      </p>
    </div>
  </div>

  <div class="supporting-container">
    <div class="divider">
      <span class="divider-text">
        SUPPORTING RESEARCH
      </span>
    </div>

    <div class="body-text">
      <ul>
        <li>Bullied students indicate that bullying has a negative effect on how they feel about themselves (19%), their relationships
          with friends/family and school work (14%), and physical health (9%)</li>
        <br>
        <li>About 20% of teens will experience depression before they reach adulthood</li>
        <br>
        <li>The average 2-year-old hears 432 negative statements per day, but only 32 positive statements each day - University
          of Iowa</li>
        <br>
        <li>80% of children entering 1st grade score high on the self esteem inventory. By 5th grade only 20% scored high. And
          by the time they graduated from high school only 5%</li>
        <br>
        <li>In 2013, suicide ranked 2nd in cause of death for ages 15-24</li>
        <br>
        <li>Students who place their self-worth on internal habits like moral values are less stressed and tend to perform better
          academically
        </li>
        <br>
        <li>Self-compassion can reduce the stress that causes us to procrastinate. Which helps us recognize the downside of the
          habit without putting us in a negative spiral</li>
        <br>
        <li>If worried about procrastination try self-affirmation, which has been shown to increase problem-solving skills when
          you’re stressed</li>
        <br>
        <li>Humans have over 70,000 thoughts per day and up to 70% of them are negative</li>
      </ul>
      <p>
        <br>
        <br>In order to better understand our topic we looked into some previous projects that have been done. These were the
        top 3 that we looked at, some of which may be more well-known than others.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="content">
        <a href="https://www.dove.com/us/en/dove-self-esteem-project.html" target="_blank">
          <img src="assets/images/dove.jpg" alt="Dove" class="imagecolumn">
          <h3>Dove Self Esteem Project</h3>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://www.love-myself.org/" target="_blank">
          <img src="assets/images/bts.jpg" alt="BTS" class="imagecolumn">
          <h3>BTS Love Yourself Campaign</h3>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://www.theselfloveproject.com/" target="_blank">
          <img src="assets/images/slp.jpg" alt="self-love" class="imagecolumn">
          <h3>The Self Love Project</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="idea-container">
    <div class="divider">
      <span class="divider-text">
        INITIAL IDEAS
      </span>
    </div>

    <div class="divider-two">
      <span class="divider-two-text">
        Kintsugi
      </span>
    </div>

    <div class="body-text">
      <p>
        Japanese art of fixing broken vessels with a special lacquer that is then dusted with gold, silver or platinum. The practice
        is related to the japanese philosophy of wabi-sabi, which calls for seeing beauty in the flawed or imperfect. Imperfect
        but valuable, priceless, beautiful, worthy. This practice dates back to the 15th century. According to legend, the
        craft was created when Japanese shogun Ashikaga Yoshimasa sent his cracked chawan, tea bowl, back to China to undergo
        repairs. When it was returned to him, Yoshimasa was displeased to see that it was mended with unsightly metal staples.
        This encouraged craftsmen to find an alternative, a more aesthetically pleasing method of repair.
        <br>
        <br>There are 3 predominant styles of Kintsugi.
      </p>
    </div>
  </div>

</app-standard-component>
