.goals-container {
  margin-top: 80px;
}

.blue {
  width: 50px;
  height: 25px;
  border-radius: 0%;
  font-size: 15px;
  color: #2c2e2e;
  line-height: 50px;
  text-align: center;
  background: #7be9c2;
}

.yellow {
  width: 50px;
  height: 25px;
  border-radius: 0%;
  font-size: 15px;
  color: #2c2e2e;
  line-height: 50px;
  text-align: center;
  background: #facc7a;
}

.key mat-card {
  display: flex;
  justify-content: center;
  background: none;
  max-width: fit-content;
  padding-bottom: 0px;
}

.key mat-card-content {
  margin-left: 20px;
  margin-right: 20px;
}

.key {
  display: flex;
  justify-content: center;
}

.icon-text {
  color: #2c2e2e;
  font-size: 15px;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
  padding-top: 3px;
}

/* campus partners and goals*/

.image-card {
  position: relative;
  width: 50%;
  max-width: 300px;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #2c2e2e;
  opacity: .9;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-blue {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #7be9c2;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.overlay-yellow {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #facc7a;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.image-card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.image-card:hover .overlay-blue {
  opacity: .3;
}

.image-card:hover .overlay-yellow {
  opacity: .3;
}

.img-text {
  position: absolute;
  font-size: 15px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}

/* brand */

.ideation {
  display: flex;
  justify-content: space-evenly;
}

.ideation mat-card-content {
  margin-left: 200px;
  margin-right: 10%;
}

.drafts {
  width: 80%;
}

.brand {
  margin-bottom: 40px;
  display: flex;
}

.brand-colors {
  display: flex;
  width: 70%;
  padding-top: 40px;
  margin: 0 auto;
}

.final {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.container-green {
  margin-top: 80px;
  height: calc(100vh - 24px);
  align-items: center;
  justify-content: center;
  background-color: #7be9c2;
}

.banner-logo {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* beginning stages */

.examples {
  display: flex;
  justify-content: space-evenly;
}

.concept-two {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.concept-two mat-card-content {
  margin-left: 200px;
  margin-right: 50px;
}

.image-card1 {
  padding-left: 200px;
  padding-right: 50px;
}

.image-card2 {
  padding-left: 50px;
  padding-right: 200px;
}

.image-card {
  padding-left: 50px;
  padding-right: 50px;
}

/* end beginning stages */

.container {
  height: calc(100vh - 24px);
  align-items: center;
  justify-content: center;
}

.grouping {
  display: flex;
  justify-content: center;
}

.grouping mat-card {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.grouping-partners {
  display: flex;
  justify-content: center;
}

.grouping-partners mat-card {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.icon img.mat-card-image {
  width: 30%;
  margin-top: 50px;
}

.icon mat-card-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

/* final project link button */

a {
  text-decoration: none;
  color: #2c2e2e;
}

.next {
  width: 30px;
  vertical-align: middle;
  padding-right: 20px;
}

.wrapper {
  text-align: center;
  font-size: 15px;
  color: #2c2e2e;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .goals-container {
    margin-top: 100px;
  }
  .key mat-card-content {
    margin-left: 0px;
    margin-right: 0px;
  }
  /*icons*/
  .icon img.mat-card-image {
    width: 60%;
    margin-top: 50px;
  }
  .icon mat-card-content {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  /*concepts*/
  .concept-two {
    display: block;
    justify-content: center;
  }
  .concept-two mat-card-content {
    margin-left: 0px;
    margin-right: 0px;
  }
  .image-card1 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .image-card2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .image-card {
    padding-left: 50px;
    padding-right: 50px;
  }
  /*brand*/
  .ideation {
    display: block;
    justify-content: center;
  }
  .ideation mat-card-content {
    margin-left: 0px;
    margin-right: 0px;
  }
}
