<app-standard-component>

  <div class="goals-container">
    <div class="divider">
      <span class="divider-text">
        GOALS
      </span>
    </div>

    <div class="key">

      <mat-card>
        <mat-card-content>
          General Goals
        </mat-card-content>
        <div class="blue"></div>
      </mat-card>

      <mat-card>
        <mat-card-content>
          Ambitious Goals
        </mat-card-content>
        <div class="yellow"></div>
      </mat-card>

    </div>


    <div class="icon">
      <div class="grouping">

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/social.svg" alt="social media">
          <mat-card-content class="body-text">
            Set up and engage VCU
            <br>students with social media
          </mat-card-content>
          <div class="overlay-blue">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/money.svg" alt="money">
          <mat-card-content class="body-text">
            Raise funds with project
            <br>merchandise
          </mat-card-content>
          <div class="overlay-blue">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/love.svg" alt="heart">
          <mat-card-content class="body-text">
            Bring awareness to the
            <br>importance of self-love
          </mat-card-content>
          <div class="overlay-blue">
          </div>
        </mat-card>
      </div>

      <div class="grouping">
        <mat-card class="image-card">
          <img mat-card-image src="assets/images/goods.svg" alt="gift">
          <mat-card-content class="body-text">
            Make giveaway goods
          </mat-card-content>
          <div class="overlay-blue">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/encourage.svg" alt="thumbs up">
          <mat-card-content class="body-text">
            Make people’s day and
            <br>encourage them
          </mat-card-content>
          <div class="overlay-blue">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/web.svg" alt="web">
          <mat-card-content class="body-text">
            Make a website
          </mat-card-content>
          <div class="overlay-blue">
          </div>
        </mat-card>
      </div>

      <div class="grouping">

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/verycaring.svg" alt="very caring vcu">
          <mat-card-content class="body-text">
            Incorporate VeryCaringU
          </mat-card-content>
          <div class="overlay-yellow">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/collaboration.svg" alt="collaboration">
          <mat-card-content class="body-text">
            Collaborate with campus
            <br> organizations
          </mat-card-content>
          <div class="overlay-yellow">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/local.svg" alt="local pin">
          <mat-card-content class="body-text">
            Participation from local
            <br>businesses
          </mat-card-content>
          <div class="overlay-yellow">
          </div>
        </mat-card>
      </div>

      <div class="grouping">
        <mat-card class="image-card">
          <img mat-card-image src="assets/images/interactive.svg" alt="lightbulb">
          <mat-card-content class="body-text">
            Have multiple collabrative
            <br>art installations
          </mat-card-content>
          <div class="overlay-yellow">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/speaker.svg" alt="guest speaker">
          <mat-card-content class="body-text">
            Have one or more guest
            <br>speakers
          </mat-card-content>
          <div class="overlay-yellow">
          </div>
        </mat-card>

        <mat-card class="image-card">
          <img mat-card-image src="assets/images/dog.svg" alt="dog">
          <mat-card-content class="body-text">
            Have the therapy dogs
            <br>come on a given day
          </mat-card-content>
          <div class="overlay-yellow">
          </div>
        </mat-card>
      </div>
      <!-- end icons -->
    </div>

    <!-- <div class="lists">
      <div class="left-container">
        <mat-card>
          <div class="body-text">
            <mat-card-content>
              <p>
                <b>General Goals</b>
              </p>
              <ul>
                <li>Set up and engage VCU students with social media</li>
                <li>Raise funds with project merchandise </li>
                <li>Bring awareness to the importance of loving yourself</li>
                <li>Make giveaway goods</li>
                <li>Make people’s day, encourage them/make them smile</li>
                <li>Make a website</li>
              </ul>
            </mat-card-content>
          </div>
        </mat-card>
      </div>

      <div class="right-container">
        <mat-card>
          <div class="body-text">
            <mat-card-content>
              <p>
                <b>More Ambitious Goals</b>
              </p>
              <ul>
                <li>Incorporate VeryCaringU</li>
                <li>Collaborate with campus organizations</li>
                <li>Participation from local businesses</li>
                <li>Have multiple collaborative art installations </li>
                <li>Have one or more guest speakers</li>
                <li>Have the therapy dogs come on a given day as a part of the project</li>
              </ul>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div> -->
  </div>

  <div class="partners-container">
    <div class="divider">
      <span class="divider-text">
        CAMPUS PARTNERS
      </span>
    </div>

    <div class="grouping">
      <mat-card class="image-card">
        <a href="https://students.vcu.edu/about/staff/communications-and-marketing-office/" target="_blank">
          <img mat-card-image src="assets/images/matt.svg" alt="matthew lovisa">
          <div class="overlay">
            <div class="img-text">
              Coordinator of Communication
              <br>and Marketing
            </div>
          </div>
        </a>
      </mat-card>

      <mat-card class="image-card">
        <a href="https://thewell.vcu.edu/" target="_blank">
          <img mat-card-image src="assets/images/trisha.svg" alt="Trisha Saunders">
          <div class="overlay">
            <div class="img-text">
              Associate Director at The Well
            </div>
          </div>
        </a>
      </mat-card>

      <mat-card class="image-card">
        <a href="https://counseling.vcu.edu/" target="_blank">
          <img mat-card-image src="assets/images/christine.svg" alt="Christine Strasser">
          <div class="overlay">
            <div class="img-text">
              Senior Staff Psychologist
              <br>at VCU Counseling
            </div>
          </div>
        </a>
      </mat-card>
    </div>

    <div class="grouping">
      <mat-card class="image-card">
        <a href="https://www.library.vcu.edu/" target="_blank">
          <img mat-card-image src="assets/images/library.svg" alt="VCU Library Lawn">
          <div class="overlay">
            <div class="img-text">
              Possible location for installation
            </div>
          </div>
        </a>
      </mat-card>

      <mat-card class="image-card">
        <a href="https://clc.vcu.edu/" target="_blank">
          <img mat-card-image src="assets/images/mcalc.svg" alt="academic learning commons">
          <div class="overlay">
            <div class="img-text">
              Campus Learning Center
            </div>
          </div>
        </a>
      </mat-card>

      <mat-card class="image-card">
        <a href="https://usca.vcu.edu/event-services/" target="_blank">
          <img mat-card-image src="assets/images/compass.svg" alt="The Compass">
          <div class="overlay">
            <div class="img-text">
              Possible location for installation
            </div>
          </div>
        </a>
      </mat-card>
    </div>

  </div>

  <div class="stages-container">
    <div class="divider">
      <span class="divider-text">
        BEGINNING STAGES
      </span>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            Originally we wanted to have an art installation that just dealt with the topic of body image and loving yourself. A big
            part of loving yourself is accepting who you are and being comfortable in your own skin. The media today has
            set a standard for unhealthy and even unobtainable standards about beauty. The Dove Self Esteem project has done
            many unique projects inspired by this very same topic. We thought that it would be highly relevant and beneficial
            to bring something like that to our campus.
            <br>
            <br>The idea was to set up a mirror in a high traffic area on campus. We wanted to provide people with an opportunity
            to see themselves in the mirrior and write something positive or encouraging about themselves or other people.
            We hoped that this to build up over the week and that it would be something that people wanted to participate
            in.
          </p>
        </mat-card-content>
      </div>
    </mat-card>

    <div class="examples">
      <mat-card class="image-card1">
        <img mat-card-image src="assets/images/mirror1.jpg" alt="mirror schematic">
      </mat-card>

      <mat-card class="image-card2">
        <img mat-card-image src="assets/images/mirror2.jpg" alt="close up of mirror">
      </mat-card>

    </div>
    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            To create daily interest over the week, we wanted to have elements that remained everyday and elements that changed everyday.
            We wanted to have a large board where we could post and change content relevant to each day’s theme and topics
            we wanted to discuss.
            <br>
            <br>We didn’t use this idea because we couldn’t book the library grass or acquire such a board.
          </p>
        </mat-card-content>
      </div>
    </mat-card>

    <div class="examples">
      <mat-card class="image-card1">
        <img mat-card-image src="assets/images/bulletin.jpeg" alt="bulletin schematic">
      </mat-card>

      <mat-card class="image-card">
        <img mat-card-image src="assets/images/counseling1.jpeg" alt="psycotherapy">
      </mat-card>

      <mat-card class="image-card2">
        <img mat-card-image src="assets/images/counseling2.jpeg" alt="group therapy">
      </mat-card>

    </div>
  </div>

  <!-- <div class="circles">
      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Accepting Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-a">Who are you?</div>
          <div class="circle-a">Who do you want to be?</div>
          <div class="circle-a">You are enough.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Forgiving Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-b">One thing you regret?</div>
          <div class="circle-b">What did it teach you?</div>
          <div class="circle-b">Let go. Take action.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Believing in Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-c">What do you want to do?</div>
          <div class="circle-c">What's holding you back?</div>
          <div class="circle-c">You are unique and amazing.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Encouraging Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-d">How far have you come?</div>
          <div class="circle-d">How far can you go?</div>
          <div class="circle-d">Celebrate the victories.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Expressing Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-e">One thing you love about youself?</div>
          <div class="circle-e">One more?</div>
          <div class="circle-e">One more?</div>
        </mat-card>
      </div>
    </div> -->

</app-standard-component>
