<app-standard-component>

  <div class="goals-container">
    <div class="divider">
      <span class="divider-text">
        GOALS
      </span>
    </div>

    <div class="lists">
      <div class="general">
        <mat-card>
          <div class="body-text">
            <mat-card-content>
              <p>
                <b>General Goals</b>
              </p>
              <ul>
                <li>Set up and engage VCU students with social media</li>
                <li>Raise funds with project merchandise </li>
                <li>Bring awareness to the importance of loving yourself</li>
                <li>Partner with aVCU campus organizations/resources available to students</li>
                <li>Make giveaway goods</li>
                <li>Make people’s day, encourage them/make them smile</li>
                <li>Make a website</li>
              </ul>
            </mat-card-content>
          </div>
        </mat-card>
      </div>

      <div class="ambitious">
        <mat-card>
          <div class="body-text">
            <mat-card-content>
              <p>
                <b>More Ambitious Goals</b>
              </p>
              <ul>
                <li>Incorporate VeryCaringU</li>
                <li>Collaborate with campus organizations</li>
                <li>Participation from local businesses</li>
                <li>Have multiple collaborative art installations </li>
                <li>Have one or more guest speakers</li>
                <li>Have the therapy dogs come on a given day as a part of the project</li>
              </ul>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="stages-container">
    <div class="divider">
      <span class="divider-text">
        BEGINNING STAGES
      </span>
    </div>

    <mat-card>
      <div class="body-text">
        <mat-card-content>
          <p>
            We wanted to have an installation in the same location, with different objects and prompts each day. Originially we wanted
            to hand out buttons, candies, magnets, flowers, cards, etc. The follow lists our preliminary thoughts and ideas
            for the project. A lot of the beginning stages for this project was spent in meetings with potential partners.
            Their collaboration would determine some of the things that we could include in the installation.
          </p>
        </mat-card-content>
      </div>
    </mat-card>

    <div class="circles">
      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Accepting Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-a">Who are you?</div>
          <div class="circle-a">Who do you want to be?</div>
          <div class="circle-a">You are enough.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Forgiving Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-b">One thing you regret?</div>
          <div class="circle-b">What did it teach you?</div>
          <div class="circle-b">Let go. Take action.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Believing in Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-c">What do you want to do?</div>
          <div class="circle-c">What's holding you back?</div>
          <div class="circle-c">You are unique and amazing.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Encouraging Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-d">How far have you come?</div>
          <div class="circle-d">How far can you go?</div>
          <div class="circle-d">Celebrate the victories.</div>
        </mat-card>
      </div>

      <div class="container">
        <div class="divider-two">
          <span class="divider-two-text">
            Expressing Yourself
          </span>
        </div>

        <mat-card>
          <div class="circle-e">One thing you love about youself?</div>
          <div class="circle-e">One more?</div>
          <div class="circle-e">One more?</div>
        </mat-card>
      </div>
    </div>

  </div>
</app-standard-component>
